*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    /* height: 100%; */
    /* width: 100%; */
     
}

nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
    height: 70px;
}

.logo{
    color: #fff;
}

nav ul{
    display: flex;
    gap: 30px;
    align-items: right;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

.menu-icon{
    /* display: none; */
    position: right;

}

.menu-icon i{
    color: #fff;
    font-size: 30px;
    position: static;
}
 

@media (max-width:600px) {
    nav ul{
        
         /* position: fixed; */
        /* position: sticky; */
         
         /* position: inherit; */
         position: initial;
         /* position: unset; */
        top: 100px;
        left: 10;
        right: 10;
        flex-direction: column;
        /* flex-direction: row-reverse; */
        text-align: end;
        background: #02fc5e;
        gap: 0;
        overflow: hidden;

    }
    nav ul li{
        padding: 20px;
        padding-top: 0;
    }
    .menu-icon{
        display: block;
        
    }
    #menuList{
        transition: all 0.5s;
        
    }
}